h1 {
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

/* #SideBar {
  width: 30%;
  background-color: red;
  position: absolute;
  z-index:99;
} */

input.form-control {
  margin: 10px;
  padding: 10px;
  width: 70vh;
  border: 1px solid rgba(0,0,0,.125);
}

#MapDiv {
  height: 100vh;
}

#InfoModal {
  text-align: center;
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 0rem .75rem 0rem;
  margin-left: -30px;
  margin-bottom: -1px;
  margin-right: 10px;
  background-color: #14bce2;
  border: 1px solid rgba(0,0,0,.125);
}